@model StoreWebUI.Models.CustomerOrdersVM

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Orders By Price</h2>
     @foreach(var order in Model.Orders)
    {
        <h4>ID: # @Html.DisplayFor(ord => order.ID)</h4>
        <h4>Store ID: # @Html.DisplayFor(ord => order.StoreFrontID)</h4>
        <h4>Customer ID: # @Html.DisplayFor(ord => order.CustomerID)</h4>
        <h4>Location: @Html.DisplayFor(ord => order.Location)</h4>
        <h4>Price: @Html.DisplayFor(ord => order.Price)</h4>
        <h4>Time Placed: @Html.DisplayFor(ord => order.TimePlaced)</h4>
        <table class="table table-dark">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Description</th>
                    <th>Category</th>
                    <th>Quantity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in order.Items)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Product.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Product.Price)</td>
                        <td>@Html.DisplayFor(modelItem => item.Product.Description)</td>
                        <td>@Html.DisplayFor(modelItem => item.Product.Category)</td>
                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</body>
</html>